<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <center>
    <h1>HELLO FROM THE JAIL - <%= @user %></h1>
    <h3>Please keep this private key carefully:</h3>
    <%= @private_key %>

    <h5>Blockchain.org</h5>
    </center>
  </body>
</html>
