<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>HELLO FROM THE JAIL - <%= @user %></h1>
    <h3>private key: <%= @private_key if @private_key %></h3>
  </body>
</html>
