<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>HELLO FROM THE JAIL - <%= @user %></h1>
    <h3>Please keep this private key carefully: <%= @private_key %></h3>
    <h6>:):):):)</h6>
  </body>
</html>
