/* line 13, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
body {
  background: #f1f4f7;
  padding-top: 60px;
  font-size: 14px;
  color: #444444;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 21, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
p {
  color: #777;
}

/* line 25, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
a, a:hover, a:focus {
  color: #30a5ff;
}

/* line 29, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

/* line 33, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
h1 {
  font-weight: 300;
  font-size: 40px;
}

/* line 38, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
h2 {
  font-weight: 300;
  margin-bottom: 20px;
}

/* line 43, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
h3, h4 {
  font-weight: 300;
}

/* line 47, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.large {
  font-size: 2em;
}

/* line 51, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.text-muted {
  color: #c5c7cc;
}

/* line 55, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.color-gray {
  color: #444444;
}

/* line 59, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.color-blue {
  color: #30a5ff;
}

/* line 63, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.color-teal {
  color: #1ebfae;
}

/* line 67, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.color-orange {
  color: #ffb53e;
}

/* line 71, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.color-red {
  color: #f9243f;
}

/* line 75, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.no-padding {
  padding: 0;
  margin: 0;
}

/* line 80, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.fa-xl {
  font-size: 2em;
}

/* line 84, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
input.form-control {
  border: 1px solid #ddd;
  box-shadow: none;
  height: 46px;
}

/* line 90, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.bootstrap-table input.form-control {
  height: 34px;
}

/* line 94, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.input-group-btn .btn {
  height: 46px;
}

/* line 98, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.form-control:focus {
  border: 1px solid #30a5ff;
  outline: 0;
  box-shadow: inset 0px 0px 0px 1px #30a5ff;
}

/* line 104, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.has-success .form-control, .has-success .form-control:focus {
  border: 1px solid #8ad919;
}

/* line 108, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.has-warning .form-control, .has-warning .form-control:focus {
  border: 1px solid #ffb53e;
}

/* line 112, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.has-error .form-control, .has-error .form-control:focus {
  border: 1px solid #f9243f;
}

/* line 116, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.navbar-custom {
  background: #222;
  height: 60px;
}

/* line 121, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.navbar-header .navbar-brand {
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 500;
  height: 60px;
  padding-top: 18px;
}

/* line 130, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.navbar-header .navbar-brand span {
  color: #fbc02d;
}

/* line 136, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.navbar-toggle {
  background: rgba(255, 255, 255, 0.1);
  padding: 12px;
  margin-top: 10px;
}

/* line 142, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.navbar-toggle:hover {
  background: rgba(255, 255, 255, 0.05);
}

/* line 146, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.icon-bar {
  background: #fff;
}

/* line 150, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.dropdown {
  background: rgba(255, 255, 255, 0.1);
  float: left;
  margin: 10px 8px;
  padding: 0px;
  border-radius: 4px;
}

/* line 158, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.dropdown a.dropdown-toggle {
  color: #fff;
  height: 40px;
  width: 40px;
  padding-top: 11px;
  padding-left: 9px;
}

/* line 166, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.dropdown:hover {
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

/* line 171, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.dropdown .label {
  top: -4px;
  left: 22px;
  padding-top: 4px;
  padding-bottom: 4px;
  position: absolute;
  border-radius: 9999px;
}

/* line 180, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.navbar-top-links li:last-child {
  margin-right: 15px;
}

/* line 184, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.nav > li > a:hover, .nav > li > a:focus, .nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.2);
  background: none;
}

/* line 190, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.dropdown-messages {
  border: 1px solid #fff;
  width: 360px;
  background: rgba(255, 255, 255, 0.9);
  color: #444;
  font-size: 0.9em;
}

/* line 198, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.dropdown-messages img {
  margin: 5px 10px;
  float: left;
}

/* line 203, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.dropdown-messages .message-body {
  margin: 5px;
  float: left;
  width: 280px;
}

/* line 209, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.dropdown small {
  color: #999;
}

/* line 213, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.dropdown em {
  margin: 0 5px;
}

/* line 217, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.dropdown-menu > li > a {
  padding: 5px 10px;
}

/* line 221, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.dropdown-menu li .message-body a {
  color: #444;
}

/* line 225, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.dropdown-menu li a:hover {
  color: #30a5ff;
  text-decoration: none;
  background: none;
}

/* line 231, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.divider, .clear {
  clear: both;
}

/* line 235, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.dropdown-alerts {
  border: 1px solid #fff;
  width: 260px;
  background: rgba(255, 255, 255, 0.9);
  color: #444;
  font-size: 0.9em;
}

/* line 243, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.all-button a {
  text-align: center;
  color: #444;
  font-size: 12px;
  text-transform: uppercase;
  display: block;
}

/* line 253, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
a.btn:hover, button:hover {
  opacity: 0.8;
}

/* line 257, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
a.btn:active, button:active {
  box-shadow: inset 0px 0px 500px rgba(0, 0, 0, 0.1);
  opacity: 1;
}

/* line 262, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.btn-default, .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default, .btn-default.disabled, .btn-default[disabled], fieldset[disabled] .btn-default, .btn-default.disabled:hover, .btn-default[disabled]:hover, fieldset[disabled] .btn-default:hover, .btn-default.disabled:focus, .btn-default[disabled]:focus, fieldset[disabled] .btn-default:focus, .btn-default.disabled:active, .btn-default[disabled]:active, fieldset[disabled] .btn-default:active, .btn-default.disabled.active, .btn-default[disabled].active, fieldset[disabled] .btn-default.active {
  background-color: #e9ecf2;
  border-color: #e9ecf2;
  color: #1b3548;
}

/* line 268, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary, .btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active {
  background-color: #30a5ff;
  border-color: #30a5ff;
}

/* line 273, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.btn-success, .btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-success, .btn-success.disabled, .btn-success[disabled], fieldset[disabled] .btn-success, .btn-success.disabled:hover, .btn-success[disabled]:hover, fieldset[disabled] .btn-success:hover, .btn-success.disabled:focus, .btn-success[disabled]:focus, fieldset[disabled] .btn-success:focus, .btn-success.disabled:active, .btn-success[disabled]:active, fieldset[disabled] .btn-success:active, .btn-success.disabled.active, .btn-success[disabled].active, fieldset[disabled] .btn-success.active {
  background-color: #8ad919;
  border-color: #8ad919;
}

/* line 278, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.btn-warning, .btn-warning:hover, .btn-warning:focus, .btn-warning:active, .btn-warning.active, .open > .dropdown-toggle.btn-warning, .btn-warning.disabled, .btn-warning[disabled], fieldset[disabled] .btn-warning, .btn-warning.disabled:hover, .btn-warning[disabled]:hover, fieldset[disabled] .btn-warning:hover, .btn-warning.disabled:focus, .btn-warning[disabled]:focus, fieldset[disabled] .btn-warning:focus, .btn-warning.disabled:active, .btn-warning[disabled]:active, fieldset[disabled] .btn-warning:active, .btn-warning.disabled.active, .btn-warning[disabled].active, fieldset[disabled] .btn-warning.active {
  background-color: #ffb53e;
  border-color: #ffb53e;
}

/* line 283, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.btn-danger, .btn-danger:hover, .btn-danger:focus, .btn-danger:active, .btn-danger.active, .open > .dropdown-toggle.btn-danger, .btn-danger.disabled, .btn-danger[disabled], fieldset[disabled] .btn-danger, .btn-danger.disabled:hover, .btn-danger[disabled]:hover, fieldset[disabled] .btn-danger:hover, .btn-danger.disabled:focus, .btn-danger[disabled]:focus, fieldset[disabled] .btn-danger:focus, .btn-danger.disabled:active, .btn-danger[disabled]:active, fieldset[disabled] .btn-danger:active, .btn-danger.disabled.active, .btn-danger[disabled].active, fieldset[disabled] .btn-danger.active {
  background-color: #f9243f;
  border-color: #f9243f;
}

/* line 288, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.btn-link, .page-link, .text-primary {
  color: #30a5ff !important;
}

/* line 292, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.btn-link:focus, .btn-link:hover, .page-link:focus, .page-link:hover, a.text-primary:focus, a.text-primary:hover {
  color: #50b3ff !important;
}

/* line 298, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.bg-primary {
  color: #1b3548;
  background-color: #e9ecf2;
}

/* line 303, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
a.bg-primary:hover {
  background-color: #e9ecf2;
}

/* line 307, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.bg-success, .bg-green {
  color: #fff;
  background-color: #8ad919;
}

/* line 312, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
a.bg-success:hover, a.bg-green:hover {
  background-color: #8ad919;
}

/* line 316, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.bg-success a, .bg-green a {
  color: rgba(255, 255, 255, 0.75);
}

/* line 320, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.bg-teal {
  color: #fff;
  background-color: #1ebfae;
}

/* line 325, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
a.bg-teal:hover {
  background-color: #1ebfae;
}

/* line 329, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.bg-teal a {
  color: rgba(255, 255, 255, 0.75);
}

/* line 333, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.bg-info, .bg-blue {
  color: #fff;
  background-color: #30a5ff;
}

/* line 338, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
a.bg-info:hover, a.bg-blue:hover {
  background-color: #30a5ff;
}

/* line 342, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.bg-info a, .bg-blue a {
  color: rgba(255, 255, 255, 0.75);
}

/* line 346, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.bg-warning, .bg-orange {
  color: #fff;
  background-color: #ffb53e;
}

/* line 351, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
a.bg-warning:hover, a.bg-orange:hover {
  background-color: #ffb53e;
}

/* line 355, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.bg-warning a, .bg-orange a {
  color: rgba(255, 255, 255, 0.75);
}

/* line 359, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.bg-danger, .bg-red {
  color: #fff;
  background-color: #f9243f;
}

/* line 364, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
a.bg-danger:hover, a.bg-red:hover {
  background-color: #f9243f;
}

/* line 368, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.bg-danger a, .bg-red a {
  color: rgba(255, 255, 255, 0.75);
}

/* line 375, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
a.label:hover, a.label:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

/* line 381, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.label:empty {
  display: none;
}

/* line 385, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.btn .label {
  position: relative;
  top: -1px;
}

/* line 390, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.label-default {
  background-color: #777;
}

/* line 394, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.label-default[href]:hover, .label-default[href]:focus {
  background-color: #5e5e5e;
}

/* line 398, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.label-primary {
  color: #1b3548;
  background-color: #e9ecf2;
}

/* line 403, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.label-primary[href]:hover, .label-primary[href]:focus {
  background-color: #e9ecf2;
}

/* line 407, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.label-success {
  background-color: #8ad919;
}

/* line 411, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.label-success[href]:hover, .label-success[href]:focus {
  background-color: #8ad919;
}

/* line 415, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.label-info {
  background-color: #30a5ff;
}

/* line 419, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.label-info[href]:hover, .label-info[href]:focus {
  background-color: #30a5ff;
}

/* line 423, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.label-warning {
  background-color: #ffb53e;
}

/* line 427, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.label-warning[href]:hover, .label-warning[href]:focus {
  background-color: #ec971f;
}

/* line 431, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.label-danger {
  background-color: #f9243f;
}

/* line 435, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.label-danger[href]:hover, .label-danger[href]:focus {
  background-color: #f9243f;
}

/* line 442, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.panel {
  border: 0;
}

/* line 446, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.panel-container {
  padding-top: 20px;
}

/* line 450, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.panel-heading .fa-toggle-up, .panel-heading .fa-toggle-down {
  font-size: 17px;
}

/* line 454, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.panel-primary > .panel-heading {
  background-color: #30a5ff;
  color: #fff;
  border: none;
}

/* line 460, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.panel-success > .panel-heading {
  background-color: #8ad919;
  color: #fff;
  border: none;
}

/* line 466, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.panel-info > .panel-heading {
  background-color: #30a5ff;
  color: #fff;
  border: none;
}

/* line 472, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.panel-warning > .panel-heading {
  background-color: #ffb53e;
  color: #fff;
  border: none;
}

/* line 478, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.panel-danger > .panel-heading {
  background-color: #f9243f;
  color: #fff;
  border: none;
}

/* line 484, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.panel-primary .panel-settings, .panel-primary .panel-toggle, .panel-success .panel-settings, .panel-success .panel-toggle, .panel-info .panel-settings, .panel-info .panel-toggle, .panel-warning .panel-settings, .panel-warning .panel-toggle, .panel-danger .panel-settings, .panel-danger .panel-toggle {
  border: none;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
}

/* line 490, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.panel-primary .panel-settings:hover, .panel-primary .panel-toggle:hover, .panel-success .panel-settings:hover, .panel-success .panel-toggle:hover, .panel-info .panel-settings:hover, .panel-info .panel-toggle:hover, .panel-warning .panel-settings:hover, .panel-warning .panel-toggle:hover, .panel-danger .panel-settings:hover, .panel-danger .panel-toggle:hover {
  border: none;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.4);
}

/* line 496, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.panel-blue {
  background: #30a5ff;
  color: #fff;
}

/* line 501, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.panel-teal {
  background: #1ebfae;
  color: #fff;
}

/* line 506, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.panel-orange {
  background: #ffb53e;
  color: #fff;
}

/* line 511, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.panel-red {
  background: #f9243f;
  color: #fff;
}

/* line 516, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.dark-overlay {
  background: rgba(0, 0, 0, 0.05);
}

/* line 520, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.panel-blue p, .panel-teal p, .panel-orange p, .panel-red p {
  color: rgba(255, 255, 255, 0.75);
}

/* line 524, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.panel-heading {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.025em;
  height: 60px;
  line-height: 38px;
}

/* line 532, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.panel-default .panel-heading {
  background: #fff;
  border-bottom: 1px solid #e9ecf2;
  color: #444444;
}

/* line 538, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.panel-footer {
  background: #fff;
  border-top: 1px solid #e9ecf2;
}

/* line 543, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.panel-widget {
  padding: 10px 0;
  position: relative;
  box-shadow: none;
  border-radius: 0;
  background: none;
  text-align: center;
  color: #333;
}

/* line 553, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.panel-widget .panel-footer {
  border: 0;
  text-align: center;
}

/* line 558, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.panel-footer .input-group {
  padding: 0px;
  margin: 0 -5px;
}

/* line 563, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.panel-footer .input-group-btn:last-child > .btn, .panel-footer .input-group-btn:last-child > .btn-group {
  margin: 0;
}

/* line 567, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.panel-widget .panel-footer a {
  color: #999;
}

/* line 571, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.panel-widget .panel-footer a:hover {
  color: #666;
  text-decoration: none;
}

/* line 576, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.panel-widget .text-muted {
  margin-top: -6px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.8em;
}

/* line 583, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.panel-widget .large {
  color: #373b45;
  font-size: 3em;
}

/* line 590, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.panel-settings {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 596, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.panel-settings .dropdown a.dropdown-toggle, .panel-settings a {
  padding: 0;
  background: none;
  color: #7c7c7c;
}

/* line 602, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.panel-settings a, .panel-toggle {
  width: 40px;
  padding: 2px 0 0 0;
}

/* line 607, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.panel-settings:hover, .panel-toggle:hover, .panel-settings .dropdown a.dropdown-toggle:hover, .panel-settings:active, .panel-toggle:active, .panel-settings .dropdown a.dropdown-toggle:active, .panel-settings:focus, .panel-toggle:focus, .panel-settings .dropdown a.dropdown-toggle:focus {
  background: #f1f4f7;
  color: #444444;
}

/* line 612, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.panel-settings, .panel-toggle {
  display: inline-block;
  margin: -1px -5px 0 15px !important;
  border-radius: 4px;
  text-align: center;
  border: 1px solid #e9ecf2;
  color: #7c7c7c;
  background: #fff;
  width: 42px;
}

/* line 623, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.panel-settings {
  width: 42px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* line 629, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.panel-settings li.dropdown {
  margin: 0;
  padding: 0;
}

/* line 634, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.dropdown-settings {
  border: 1px solid #fff;
  width: 220px;
  font-size: 0.9em;
  padding: 0;
}

/* line 641, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.dropdown-settings li {
  list-style: none;
  padding: 0 10px;
  width: 220px;
  height: 26px;
  line-height: 26px;
}

/* line 649, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.dropdown-settings .divider {
  margin: 7px 0;
}

/* line 653, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.dropdown-settings li a {
  padding: 0;
  margin: 0;
  display: inline-block;
  width: 100%;
  color: #444444;
}

/* line 661, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.clickable {
  cursor: pointer;
}

/* line 665, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.panel-heading span {
  margin: 0px;
  font-size: 14px;
}

/* line 672, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.panel-button-tab-right {
  margin-left: 4px !important;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* line 678, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.panel-button-tab-left {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

/* line 685, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.border-top {
  border-top: 1px solid #dadbda;
}

/* line 689, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.border-right {
  border-right: 1px solid #dadbda;
}

/* line 693, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.border-bottom {
  border-bottom: 1px solid #dadbda;
}

/* line 697, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.border-left {
  border-left: 1px solid #dadbda;
}

/* line 701, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.panel .border-top, .panel .border-right, .panel .border-bottom, .panel .border-left {
  border-color: #e9ecf2;
}

/* line 708, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.article {
  padding: 10px 0;
}

/* line 712, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.article:first-child {
  padding: 0 0 10px 0;
}

/* line 716, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.article h4 {
  margin-bottom: 10px;
}

/* line 720, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.article .date {
  text-align: center;
  margin: 5px auto;
  display: block;
}

/* line 726, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.article .date .text-muted {
  margin-top: -5px;
}

/* line 732, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}

/* line 738, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 2px;
  background-color: #e9ecf2;
  left: 25px;
  margin-right: -1.5px;
}

/* line 749, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.timeline > li {
  margin-bottom: 20px;
  position: relative;
}

/* line 754, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.timeline > li:before, .timeline > li:after {
  content: " ";
  display: table;
}

/* line 759, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.timeline > li:after {
  clear: both;
}

/* line 763, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.timeline > li > .timeline-panel {
  width: calc( 100% - 65px );
  float: right;
  border: 1px solid #edeeed;
  border-radius: 2px;
  padding: 10px 20px;
  position: relative;
  box-shadow: none;
}

/* line 773, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  left: -11px;
  display: inline-block;
  border-top: 11px solid transparent;
  border-right: 11px solid #edeeed;
  border-left: 0 solid #edeeed;
  border-bottom: 11px solid transparent;
  content: " ";
}

/* line 785, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  left: -10px;
  display: inline-block;
  border-top: 10px solid transparent;
  border-right: 10px solid #fff;
  border-left: 0 solid #fff;
  border-bottom: 10px solid transparent;
  content: " ";
}

/* line 797, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.timeline > li > .timeline-badge {
  color: #fff;
  width: 46px;
  height: 46px;
  line-height: 51px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 0px;
  margin-right: -25px;
  background-color: #999999;
  z-index: 100;
  border-radius: 9999px;
}

/* line 813, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.timeline-badge.primary {
  background-color: #30a5ff !important;
}

/* line 817, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.timeline-badge.success {
  background-color: #8ad919 !important;
}

/* line 821, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.timeline-badge.warning {
  background-color: #ffb53e !important;
}

/* line 825, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.timeline-badge.danger {
  background-color: #f9243f !important;
}

/* line 829, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.timeline-badge.info {
  background-color: #30a5ff !important;
}

/* line 836, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.progress {
  height: 12px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #f2f3f2;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

/* line 846, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.progress-bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  background-color: #30a5ff;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: width .6s ease;
  transition: width .6s ease;
}

/* line 860, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.progress-bar-success {
  background-color: #8ad919;
  background-image: none;
}

/* line 865, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.progress-bar-info, .progress-bar-blue {
  background-color: #30a5ff;
  background-image: none;
}

/* line 870, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.progress-bar-warning, .progress-bar-orange {
  background-color: #ffb53e;
  background-image: none;
}

/* line 875, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.progress-bar-danger, .progress-bar-red {
  background-color: #f9243f;
  background-image: none;
}

/* line 880, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.progress-bar-teal {
  background-color: #1ebfae;
  background-image: none;
}

/* line 888, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.jumbotron {
  background: #fff;
  border-bottom: 1px solid #e9ecf2;
  color: #444444;
}

/* line 896, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.panel .tabs {
  margin: 0;
  padding: 0;
}

/* line 901, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.nav-tabs {
  background: #f2f3f2;
  border: 0;
}

/* line 906, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.nav-tabs li a:hover {
  background: #fff;
}

/* line 910, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.nav-tabs li a, .nav-tabs li a:hover, .nav-tabs li.active a, .nav-tabs li.active a:hover {
  border: 0;
  padding: 15px 20px;
}

/* line 915, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.nav-tabs li.active a {
  color: #30a5ff;
}

/* line 919, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.nav-tabs li a {
  color: #999;
}

/* line 923, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.nav-pills {
  padding: 15px;
  padding-bottom: 0;
}

/* line 928, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.nav-pills li a, .nav-pills li a:hover, .nav-pills li.active a, .nav-pills li.active a:hover {
  border: 0;
  padding: 7px 15px;
}

/* line 933, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.nav-pills li.active a, .nav-pills li.active a:hover {
  background: #30a5ff;
}

/* line 937, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.tab-content {
  padding: 15px;
}

/* line 944, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.navbar {
  border: 0;
}

/* line 948, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.navbar input {
  border: 0;
  background: #444;
  color: #fff;
}

/* line 954, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.navbar input:focus {
  color: #fff;
  background: #555;
  border: 1px solid #30a5ff;
  outline: 0;
  box-shadow: inset 0px 0px 0px 1px #30a5ff;
}

/* line 962, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.user-menu {
  display: inline-block;
  margin-top: 14px;
  margin-right: 10px;
  float: right;
  list-style: none;
  padding: 0;
}

/* line 971, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.user-menu a {
  color: #fff;
}

/* line 975, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.user-menu a:hover, .user-menu a:focus {
  text-decoration: none;
}

/* line 981, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.sidebar {
  display: block;
  padding: 0;
  display: none;
  box-shadow: none;
  background: #fff;
}

/* line 989, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.sidebar ul {
  margin: 20px 0px;
}

/* line 993, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.sidebar form {
  padding: 10px 0 0 0;
  margin: 10px 10px 20px 10px;
}

@media (min-width: 768px) {
  /* line 999, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
  .sidebar {
    display: block;
    position: fixed;
    top: 60px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
  }

  /* line 1013, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
  .navbar-header {
    width: 100%;
  }
}
/* line 1018, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.sidebar ul.nav a:hover, .sidebar ul.nav li.parent ul li a:hover {
  text-decoration: none;
  background-color: #30a5ff;
  color: #fff;
}

/* line 1024, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.sidebar ul.nav .active a, .sidebar ul.nav li.parent a.active, .sidebar ul.nav .active > a:hover, .sidebar ul.nav li.parent a.active:hover, .sidebar ul.nav .active > a:focus, .sidebar ul.nav li.parent a.active:focus {
  color: #fff;
  background-color: #30a5ff;
}

/* line 1029, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.sidebar ul.nav ul, .sidebar ul.nav ul li {
  list-style: none;
  list-style-type: none;
}

/* line 1034, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.sidebar ul.nav li a {
  height: 50px;
  font-size: 15px;
  line-height: 2em;
  color: #444444;
}

/* line 1041, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.sidebar ul.nav ul.children {
  width: auto;
  padding: 0;
  margin: 0;
  background: #f9f9f9;
}

/* line 1048, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.sidebar ul.nav ul.children li a {
  height: 40px;
  background: #f1f4f7;
  color: #444444;
}

/* line 1054, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.sidebar ul.nav li.current a {
  background-color: #30a5ff;
  color: #fff !important;
}

/* line 1059, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.sidebar ul.nav li.parent ul li a {
  border: none;
  display: block;
  padding-left: 30px;
  line-height: 40px;
  border-radius: 0;
}

/* line 1067, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.sidebar ul.nav li.divider {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin: 0px 0;
}

/* line 1074, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.profile-sidebar {
  padding: 10px 0;
  border-bottom: 1px solid #e9ecf2;
}

/* line 1079, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.indicator {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 9999px;
  margin-right: 5px;
}

/* line 1087, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.profile-userpic img {
  float: left;
  margin: 10px 0px 0px 15px;
  width: 50px;
  height: 50px;
  border-radius: 9999px !important;
}

/* line 1095, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.profile-usertitle {
  float: left;
  text-align: left;
  margin: 10px 0 0 12px;
}

/* line 1101, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.profile-usertitle-name {
  font-size: 20px;
  margin-bottom: 0px;
}

/* line 1106, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.profile-usertitle-status {
  text-transform: uppercase;
  color: #AAA;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

/* line 1117, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.breadcrumb {
  border-radius: 0;
  padding: 10px 15px 10px 15px;
  background: #e9ecf2;
  margin: 0;
}

/* line 1124, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
h1.page-header {
  margin-top: 20px;
  border-bottom: 0;
}

/* line 1131, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.main-chart {
  background: #fff;
}

/* line 1135, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.easypiechart-panel {
  text-align: center;
  padding: 1px 0;
  margin-bottom: 20px;
}

/* line 1141, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.placeholder h2 {
  margin-bottom: 0px;
}

/* line 1145, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.donut {
  width: 100%;
}

/* line 1149, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.easypiechart {
  position: relative;
  text-align: center;
  width: 120px;
  height: 120px;
  margin: 20px auto 10px auto;
}

/* line 1157, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.easypiechart .percent {
  display: block;
  position: absolute;
  font-size: 26px;
  top: 38px;
  width: 120px;
}

/* line 1165, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
#easypiechart-blue .percent {
  color: #30a5ff;
}

/* line 1169, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
#easypiechart-teal .percent {
  color: #1ebfae;
}

/* line 1173, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
#easypiechart-orange .percent {
  color: #ffb53e;
}

/* line 1177, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
#easypiechart-red .percent {
  color: #ef4040;
}

/* line 1183, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
#calendar, .datepicker-inline {
  width: 100%;
}

/* line 1187, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
#calendar table {
  width: 100%;
}

/* line 1191, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.datepicker-switch {
  font-size: 16px;
  height: 46px !important;
}

/* line 1196, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.datepicker table tr td.old, .datepicker table tr td.new {
  color: #c5c7cc;
}

/* line 1200, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.datepicker table tr td {
  padding: 10px !important;
}

/* line 1204, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.datepicker table tr td.active, .datepicker table tr td.active:hover, .datepicker table tr td.active.disabled, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active:hover, .datepicker table tr td.active:hover:hover, .datepicker table tr td.active.disabled:hover, .datepicker table tr td.active.disabled:hover:hover, .datepicker table tr td.active:focus, .datepicker table tr td.active:hover:focus, .datepicker table tr td.active.disabled:focus, .datepicker table tr td.active.disabled:hover:focus, .datepicker table tr td.active:active, .datepicker table tr td.active:hover:active, .datepicker table tr td.active.disabled:active, .datepicker table tr td.active.disabled:hover:active, .datepicker table tr td.active.active, .datepicker table tr td.active:hover.active, .datepicker table tr td.active.disabled.active, .datepicker table tr td.active.disabled:hover.active, .open .dropdown-toggle.datepicker table tr td.active, .open .dropdown-toggle.datepicker table tr td.active:hover, .open .dropdown-toggle.datepicker table tr td.active.disabled, .open .dropdown-toggle.datepicker table tr td.active.disabled:hover {
  color: #ffffff;
  background-color: #30a5ff;
  text-shadow: none;
  border-color: #285e8e;
}

/* line 1211, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.datepicker table tr td span:hover, .datepicker thead tr:first-child th:hover, .datepicker tfoot tr th:hover, .datepicker table tr td.day:hover, .datepicker table tr td.day.focused {
  background: rgba(0, 0, 0, 0.05);
}

/* line 1217, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.todo-list {
  padding: 0;
  margin: -15px;
  background: #fff;
  color: #444444;
}

/* line 1224, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.todo-list .checkbox input[type=checkbox] {
  margin: 0;
}

/* line 1228, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.todo-list .checkbox {
  display: inline-block;
  margin: 0px;
}

/* line 1233, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.panel-body input[type=checkbox]:checked + label {
  text-decoration: line-through;
  color: #777;
}

/* line 1238, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.todo-list-item {
  list-style: none;
  line-height: 0.9;
  padding: 14px 15px 8px 15px;
}

/* line 1244, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.todo-list-item:hover, a.todo-list-item:focus {
  text-decoration: none;
  background-color: #f6f6f6;
}

/* line 1249, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.todo-list .fa-trash {
  color: #444444;
}

/* line 1252, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.todo-list .fa-trash:hover {
  color: #ef4040;
}

/* line 1259, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.chat .panel-body ul {
  list-style: none;
  margin: -15px;
  padding: 15px;
}

/* line 1265, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.chat .panel-body ul li {
  margin-bottom: 10px;
  padding: 15px 5px;
  border-bottom: 1px solid #e9ecf2;
}

/* line 1271, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.chat ul li.left .chat-body {
  margin-left: 80px;
}

/* line 1275, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.chat ul li.right .chat-body {
  margin-right: 80px;
}

/* line 1279, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.chat ul li .chat-body p {
  margin: 0;
}

/* line 1283, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.chat .panel-body {
  overflow-y: scroll;
  height: 300px;
}

/* line 1288, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.chat-body small {
  margin-left: 5px;
}

/* line 1293, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.table {
  background: #fff;
}

/* line 1297, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.fixed-table-container {
  border: 1px solid #e9ecf2;
}

/* line 1301, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.fixed-table-container thead th {
  background: #f7f7f8;
  border-color: #ddd;
  color: #444444;
  font-weight: 300;
  font-size: 16px;
}

/* line 1309, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.fixed-table-container tbody td {
  border: 1px solid #e9ecf2;
}

/* line 1313, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.fixed-table-container tbody td:last-child {
  border-right: none;
}

/* line 1317, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.table > thead > tr > th {
  border-bottom: 1px solid #e6e7e8;
  vertical-align: middle;
  height: 50px;
}

/* line 1323, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.fixed-table-pagination .pagination {
  margin-top: 10px;
  margin-bottom: 0px;
}

/* line 1328, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
.fixed-table-pagination .pagination-detail {
  margin-top: 20px;
}

/* line 1332, /Users/letoan/WCCoin/app/assets/stylesheets/styles.css.scss */
p.back-link {
  text-align: center;
  margin-bottom: 20px;
  font-size: 12px;
  text-transform: uppercase;
}
