<div class="container">
     <div class="row">
        <!--What is World Cup betting--> 
        <h1 class="lead text-center" style="font-size: 36px">What is World Cup Betting ?</h1>
        <div class="row" style="max-width:800px; margin: auto">  
             <p>
               WC Betting is a soccer betting site with ethereum-based platforms.
Our platform use token called WCC (WC Coin). Player who want to bet must buy our token to start betting and win.
            </p>
        </div>
     </div>
     <div class="row">
        <!--Rules-->
        <h1 class="lead text-center" style="font-size: 36px">Rules</h1>
        <div class="row" style="max-width:800px; margin: auto">
            <p>
            Each player will have to choose a team that he/she thinks could win the match and place at least a number of tokens depending on each match.
After the match is over, player who bet the winner team will be returned their original bets + tokens which are divided equally from the total tokens of the losing ones. 
            </p>
        </div>
     </div>
        <!--Getting started-->
        <h1 class="lead text-center" style="font-size: 36px">Getting started</h1>
        <div class="row" style="max-width:800px; margin: auto">
                 <h3 style="margin-bottom: 30px">Install and log in Metamask</h3>
                 <p>Metamask is available for Chrome, Opera, Firefox, you can download it from here: <a href="https://metamask.io/">Metamask</a></p>
                 <iframe width="853" height="480" src="https://www.youtube.com/embed/6Gf_kRE4MJU" frameborder="0" allowfullscreen=""></iframe>
        </div>
        <div class="row" style="max-width:800px; margin: auto">
                 <h3 style="margin-bottom: 30px">Send Ether to your wallet</h3>
                 <p>Since our website is based on Ethereum, you must have Ether (ETH) in your wallet to make purchase tokens and betting. ETH can be purchased directly from Metamask or from other exchanges, for example: Coinbase, Coinmama or BitPanda etc.. If this is the first time you buy Ether, we recommend you to buy from <a href="https://buy.coinbase.com/">Coinbase.</a></p>
        </div>
        <div class="row" style="max-width:800px; margin: auto">
                 <h3 style="margin-bottom: 30px">Get token</h3>
                 <p>Players must have Token to play. Click <a href="<%= new_user_path %>"><i class="fa fa-sign-in" aria-hidden="true"></i> Claim Your Token</a> on the righ top of the menu</p>
                 <p>Enter email, nickname and amount of WCC you want to get and click "Claim".</p>
                 <p>We will send to your email a token address so please check your inbox. If you can't find the email, check your junk box instead.</p>
                 <p>Open Metamask and click "Add token"</p>
                 <%= image_tag "BuyToken.png", style: "margin: 0px 0px 20px 0px"%>                  
                 <p>Paste the token address which we've sent to your mail box and click next</p>
                 <p>And tadaa, you are all set! Time to bet and win</p>
                 <%= image_tag "TokenBuySuccess.png", style: "margin: 0px 0px 20px 0px"%>                  
        </div>
        <div class="row" style="max-width:800px; margin: auto">
                <h3>Start betting</h3>
                <p>Select a match that is in OPEN mode, select the team you expect to win and the amount of token (WC Coin) you want to bet and press confirm.  Metamask will automatically deduct your existing coins.</p>
        </div>
        <div class="row" style="max-width:800px; margin: auto">
                <h3>After match</h3>

        </div>
</div>



