<div class="container">
     <div class="row">
        <!--What is World Cup betting--> 
        <h1>What is World Cup Betting ?</h1>
        <div class="row">  
        <div class="col-lg-12">                      
             <p>
               WC Betting is a soccer betting site with ethereum-based platforms.
Our platform use token called WCC (WC Coin). Player who want to bet must buy our token to start betting and win.
            </p>
        </div>
        </div>
     </div>
     <div class="row">
        <!--Rules-->
        <h1>Rules</h1>
        <div class="row">
        <div class="col-lg-12">
            <p>
            Each player will have to choose a team that he/she thinks could win the match and place at least a number of tokens depending on each match.
After the match is over, player who bet the winner team will be returned their original bets + tokens which are divided equally from the total tokens of the losing ones. 
            </p>
        </div> 
     </div>
     </div>
     <div class="row">
        <!--Getting started-->
        <h1>Getting started</h1>
        <div class="row">
            <div class="col-lg-6">
                 <h3>Install and log in Metamask</h3>
                 <p>Metamask is available for Chrome, Opera, Firefox, you can download it from here: <a href="https://metamask.io/">Metamask</a>
</p>
                 <iframe width="853" height="480" src="https://www.youtube.com/embed/6Gf_kRE4MJU" frameborder="0" allowfullscreen=""></iframe>
            </div>
            <div class="col-lg-6">
            <!--insert picture-->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                 <h3>Send Ether to your wallet</h3>
                 <p>Since our website is based on Ethereum, you must have Ether (ETH) in your wallet to make purchase tokens and betting. ETH can be purchased directly from Metamask or from other exchanges, for example: Coinbase, Coinmama or BitPanda etc.. If this is the first time you buy Ether, we recommend you to buy from <a href="https://buy.coinbase.com/">Coinbase.</a>
</p>
            </div>
            <div class="col-lg-6">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h3>Get token</h3>
                <p>Players must have Token to play. Click <a href="<%= new_user_path %>"><i class="fa fa-sign-in" aria-hidden="true"></i> Claim Your Token</a> on the righ top of the menu</p>
                <p>Enter email, nickname and amount of WCC you want to get and click "Claim"</p>
            </div>
            <div class="col-lg-6">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h3>Start betting</h3>
                <p>Select a match that is in OPEN mode, select the team you expect to win and the amount of token (WC Coin) you want to bet and press confirm.  Metamask will automatically deduct your existing coins.
</p>
            </div>
            <div class="col-lg-6">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h3>After match</h3>
                <p>After the match is over, click claim your token to check how many token have been added to or lost from your wallet. See "Rules of Bet" for more information
</p>
            </div>
            <div class="col-lg-6">
            </div>
        </div>
     </div>
</div>



