How to bet

TODO:
- form
- input email
- input amount

<form id="regform" action="" method="POST">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <input name="amount" id="amount" type="number" placeholder="Amount" autocomplete="off" required />
    <button>Register</button>
</form>
