<footer id="footer-section" class="footer-section">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h4 class="footer-title">about us</h4>
          <div class="about-widget">
            <p>World cup betting platform based on Ethereum Technology</p>
            <p class="margin-remove">Copyright (C) 2018 by Fetch Technologies</p>
          </div>
        </div>
        <div class="col-md-3">
           </div>
           
        <div class="col-md-3">
          <h4 class="footer-title">Useful Links</h4>
          <ul class="sitemap-widget">
            <li class="active"><a href="about.html">Home</a></li>
            <li><a href="about.html">About us</a></li>
            <li><a href="point-table.html">How to bet</a></li> 
            <li><a href="world-cup.html">Top 100</a></li> 
          </ul>
        </div>
        <div class="col-md-3">
          <!-- <h4 class="footer-title">newsletter</h4>
          <form class="footer-subscribe">
            <input type="text" class="form-input" placeholder="Name">
            <input type="email" class="form-input" placeholder="Email">
            <input type="submit" class="form-input" value="Send">
          </form> -->
        </div>
      </div>
    </div>
  </div>
</footer>